* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu_container {
  max-width: 240px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: ProductSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main_container {
  background-color: #FBFCFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu_logo {
  padding: 32px 0px 86px 25px;
}

.menu_list {
  padding: 0px 0px 115px 0px;
}

.menu_list p {
  padding: 0px 0px 15px 25px;
  color: #3629B7;
}

.menu_list ul {
  list-style: none;
  padding: 0px 0px 0px 25px;
}

.menu_list li:before {
  content: "";
  padding-right: 36px;
  background-repeat: no-repeat;
  background-size: 19px;
}

.menu_list li {
  padding-bottom: 31px;
  color: #838383;
}

.li_home:before {
  background-image: url("img/home.svg");
}

.li_garage:before {
  background-image: url("img/category.svg");
}

.li_service:before {
  background-image: url("img/payment.svg");
}

.li_racers:before {
  background-image: url("img/group.svg");
}

.li_calculator:before {
  background-image: url("img/calculator.svg");
}

.li_settings:before {
  background-image: url("img/settings.svg");
}

.menu_schedule {
  padding-bottom: 117px;
}

.menu_schedule p {
  padding: 0px 0px 40px 25px;
  color: #3629B7;
}

.menu_schedule li {
  padding-bottom: 31px;
  color: #838383;
}

.menu_schedule ul {
  list-style: none;
  padding: 0px 0px 0px 25px;
}

.menu_schedule li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border: solid 1px;
  border-radius: 50%;
  padding-right: 18px;
  margin-right: 15px;
}

.li_Moto:before {
  color: #3F7EF8;
}

.li_Dynamics:before {
  color: #FA6C6A;
}

.li_Olympics:before {
  color: #27C1B3;
}

.menu_account {
  background-color: #F9FAFF;
  max-width: 183px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #591AED;
}

.img_account {
  max-width: 35px;
  padding-right: 15px;
}

.menu_acc {
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 30px 49px 30px;
}

.account_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account_name img {
  padding-top: 5px;
}

.account_name p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
}

.main_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top_bar {
  padding: 24px 34px 24px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 94px;
  width: 100%;
  color: #E7E7E7;
  -webkit-box-shadow: 0px 1.5px 0px #F2F2F2;
          box-shadow: 0px 1.5px 0px #F2F2F2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_bar input {
  font-family: ProductSans;
  font-weight: 400;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  padding-left: 10px;
}

.top_bar input::-webkit-input-placeholder {
  color: #D6D6D6;
}

.top_bar input:-ms-input-placeholder {
  color: #D6D6D6;
}

.top_bar input::-ms-input-placeholder {
  color: #D6D6D6;
}

.top_bar input::placeholder {
  color: #D6D6D6;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  background-color: #fff;
  border: #E7E7E7 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.select {
  margin-left: 34px;
  background-color: #ffffff;
  width: 30%;
  padding: 14px;
  border: #E7E7E7 1px solid;
  border-radius: 5px;
}

.select select {
  outline: none;
  border: none;
  background-color: #ffffff;
  font-family: ProductSans;
  font-weight: 400;
  line-height: 15px;
  color: #D6D6D6;
  width: 100%;
  font-size: 12px;
}

.notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding-left: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.notifications img {
  max-width: 36px;
}

.malkevichh_notifications {
  border-radius: 50px;
}

.container_main {
  width: 100%;
}

.header_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 46px 0px 100px 0px;
}

.die {
  background-color: #FEFEFF;
  width: 100px;
  height: 102px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
          box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.die p {
  color: #BCBDC2;
  font-family: ProductSans;
  font-size: 12px;
  line-height: 15px;
}

.die img {
  padding-bottom: 20px;
}

.screen_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car_main {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car_main b {
  vertical-align: super;
  font-family: Gilroy-Light;
  font-size: 20px;
}

.car_main p {
  font-family: Gilroy-Light;
  font-size: 48px;
  line-height: 56.25px;
}

.car_main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px 50px 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lotus_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lotus_img img {
  max-width: 600px;
  width: 80%;
}

.button_car {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button_car_first, .button_car_second {
  padding: 30px;
  -webkit-box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
          box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
  background-image: url("img/str.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FEFEFF;
  border: none;
  border-radius: 10px;
}

.button_car_first:hover, .button_car_second:hover {
  background-color: #591aed41;
  -webkit-box-shadow: 0 0 0 3px #591aed85;
          box-shadow: 0 0 0 3px #591aed85;
}

.button_car_first:active, .button_car_second:active {
  -webkit-box-shadow: 0 0 0 3px #591aedc0;
          box-shadow: 0 0 0 3px #591aedc0;
}

.button_car_first {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-shadow: 0px -100px 80px rgba(41, 72, 152, 0.05), 0px -64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px -38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px -20px 13px rgba(41, 72, 152, 0.025), 0px -8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px -1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
          box-shadow: 0px -100px 80px rgba(41, 72, 152, 0.05), 0px -64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px -38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px -20px 13px rgba(41, 72, 152, 0.025), 0px -8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px -1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
}

.text_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: ProductSans;
  padding-left: 25px;
}

.text_main p {
  color: #9BA6B2;
  font-size: 17.02px;
  line-height: 21.64px;
}

.text_main b {
  color: #1D2C3C;
  font-size: 22.69px;
  line-height: 28.86px;
  padding-bottom: 5px;
}

.skins_skins, .championships_skins, .win_skins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 60px;
}

.bottom_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
}

.bottom_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FEFEFF;
  padding: 23px 36.5px 24px 37px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
          box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
}
/*# sourceMappingURL=main.css.map */